.u-section-1 .u-sheet-1 {
  min-height: 836px;
}

.u-section-1 .u-image-1 {
  width: 636px;
  height: 782px;
  margin: 27px 0 27px auto;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 718px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 664px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 472px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 418px;
  }
}